.page-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

hr.category {
	position: relative;
	margin: 1.5rem 1rem;
	border: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

.category_head{
    margin-top: 0rem;
    margin-bottom: 0;
}