---
layout: page
title: Categories
icon: fa-link
order: 2
---
{% assign names = "Research,Project,Internship,Technique,Leadership,Design" | split: ',' %}

<div class="tags-expo">

  <div class="tags-expo-list">
  {% for name in names %}
    <a href="#{{ name | slugify }}" class="post-tag">{{ name }}</a>
  {% endfor %}
  </div>

  <hr class="category" />

  <div class="tags-expo-section">

  {% for name in names %}
    <!-- {% assign _name = name %} -->
    {% for tag in site.categories %}
      {% if tag[0] == name %}
        <h3 class="category_head" id="{{ name | slugify }}">{{ name }}</h3>
        <ul class="tags-expo-posts">
        {% for post in tag[1] %}
          <a class="post-title" href="{{ post.url | relative_url }}">
            <li>
            {{ post.title }}
            -
            <small class="post-date">{{ post.date | date_to_string }}</small>
            </li>
          </a>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endfor %}

  </div>
</div>
